[submodule "cloud/slackservice"]
	path = cloud/slackservice
	url = https://github.com/isanjosgon/slackservice-aidifycloud.git
[submodule "ios"]
	path = ios
	url = https://github.com/hugoj-peral/aidify-ios.git
[submodule "cloud/apigateway"]
	path = cloud/apigateway
	url = https://github.com/isanjosgon/apigateway-aidifycloud.git
[submodule "cloud/messagebroker"]
	path = cloud/messagebroker
	url = https://github.com/isanjosgon/messagebroker-aidifycloud.git
[submodule "cloud/statsmanagement"]
	path = cloud/statsmanagement
	url = https://github.com/isanjosgon/statsmanagement-aidifycloud.git
[submodule "cloud/pointsservice"]
	path = cloud/pointsservice
	url = https://github.com/isanjosgon/pointsservice-aidifycloud.git
[submodule "activity-aidifycloud"]
	path = cloud/activity-aidifycloud
	url = https://github.com/Adriano90/activity-aidifycloud
[submodule "github-aidifycloud"]
	path = github-aidifycloud
	url = https://github.com/Adriano90/github-aidifycloud
[submodule "usermanagement-aidifycloud"]
	path = usermanagement-aidifycloud
	url = https://github.com/Adriano90/usermanagement-aidifycloud
